body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 1rem;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.home {
  padding: 2rem;
}

input, button {
  padding: 0.5rem;
  margin: 0.5rem;
}

button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.counter {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.counters-container {
  display: flex;
  justify-content: space-around;
}

#candidaturesSelect {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}